{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/change-password.css' %}">
    <title>Change Password</title>

</head>
<body>
    <div class="container">
        <div class="image">
            <img style="height: 60px; width: auto; margin-left: 20%;" src="{% static 'image/snapdeal.png' %}" alt="Your Image">
        </div>
        <h2>Change Password:</h2>
        {% if success_message %}
        <div class="alert alert-success" style="color: green;">{{ success_message }}</div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-danger" style="color: red;">{{ error_message }}</div>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_old_password">Current Password:</label>
                <input type="password" id="id_old_password" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="id_new_password1">New Password:</label>
                <input type="password" id="id_new_password1" name="new_password1" required>
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm New Password:</label>
                <input type="password" id="id_new_password2" name="new_password2" required>
            </div>
            <button type="submit" class="btn">Change Password</button>
        </form>
    </div>
</body>
</html>
